.restaurant{
    padding: 120px 0 200px;
}
@media screen and (max-width: 768px){
    .restaurant{
        padding: 85px 0 120px;
    }
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px 15px;
}
@media screen and (max-width: 768px){
    .restaurant-list{
        gap: 30px 10px;
    }
}
.restaurant-list__item{
    width: calc((100% - 45px) / 4);
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px){
    .restaurant-list__item{
        width: calc((100% - 10px) / 2);
    }
}
@media screen and (max-width: 414px) {
    .restaurant-list__item{
        width: 100%;
    }
}
.restaurant-list__photo img{
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}
.restaurant-list__contents{
    padding: 20px 20px 20px;
}
.restaurant-list__name{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
}
.restaurant-list__tag{
    font-size: 12px;
    margin-bottom: 15px;
}
.restaurant-list__tag p{
    margin-right: 0.3em;
    display: inline-block;
}
.restaurant-list__tag p:before{
    content: "#";
}
.restaurant-list__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.restaurant-list__link{
    color: #fff;
    background: var(--accent-color);
    font-size: 14px;
    line-height: 1;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
}
.restaurant-list__link:hover{
    background: #fff;
    color: var(--accent-color);
}
.restaurant-list__favorite-icon{
    display: inline-block;
    width: 30px;
    background: #fff;
}

.search{
    position: absolute;
    right: max(15px, calc(50% - (1240px / 2)));
    top: 38px;
}
@media screen and (max-width: 768px){
    .search{
        position: relative;
        right: auto;
        top: auto;
        margin-bottom: 30px;
    }
}
.search-form__item{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /** height: 50px; **/
    overflow: hidden;
    border-radius: 10px;
    width: 600px;
    box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1200px){
    .search-form__item{
        width: 550px;
    }
}
@media screen and (max-width: 768px){
    .search-form__item{
        width: 100%;
    }
}
.search-form__item-select-wrap{
    height: 100%;
    width: 100px;
    position: relative;
    height: 50px;
}
@media screen and (max-width: 414px) {
    .search-form__item-select-wrap{
        width: 50%;
    }
    .search-form__item-select-wrap:last-child:after{
        display: none;
    }
}
.search-form__item-select-wrap:before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: url(/img/icon-arrow-down.svg) center/contain no-repeat;
    position: absolute;
    top: calc(50% - 5px);
    right: 10px;
}
.search-form__item-select-wrap:after{
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background: #e9e9e9;
    position: absolute;
    top: calc(50% - 15px);
    right: 0;
}
.search-form__item-select{
    background: #fff;
    width: 100%;
    height: 100%;
    border: none;
    appearance: none;
    padding: 5px 10px;
    line-height: 1.7;
    outline: none;
}
.search-form__item-text{
    background-color: #fff;
    background-image: url(/img/icon-search.svg);
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: left 10px center;
    width: calc(100% - 200px);
    height: 50px;
    border: none;
    padding: 10px 10px 10px 40px;
    outline: none;
}
@media screen and (max-width: 414px) {
    .search-form__item-text{
        width: 100%;
        border-top: 1px solid #e9e9e9;
    }
}